################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/client/.vs/client/v16
/client/x64/Release/qmake
/client/x64/Debug
/client/debug
/client/GeneratedFiles
/client/release/qmake
/client/client.pro.user
/client/Makefile.Release
/client/Makefile.Debug
/client/Makefile
/client/.qmake.stash
/client/release
/build-client-Desktop_Qt_5_12_6_MSVC2017_32bit-Debug
/build-client-Desktop_Qt_5_12_6_MSVC2017_32bit-Release
/build-client-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug
