################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/client/.vs/client/v16
/client/x64/Release/qmake
/client/x64/Debug
