<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Interlope Client</Name>
    <Version>1.0.0</Version>
    <Title>Interlope Client</Title>
    <Publisher>Alan Kałuża</Publisher>
    <StartMenuDir>Interlope</StartMenuDir>
    <AllowSpaceInPath>true</AllowSpaceInPath>
    <TargetDir>@ApplicationsDirX64@/Interlope</TargetDir>
</Installer>